<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages>
      <namespaces>
        <add namespace="MessageBox"/>
      </namespaces>
			<controls>
				<add tagPrefix="msg" tagName="PopMsg" src="~/MessageBox.ascx"/>
			</controls>
		</pages>
	</system.web>
</configuration>
