BODY {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
TD {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
TH {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
DD {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
DT {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
H1 {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
H2 {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
H3 {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
H4 {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
H5 {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
H6 {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
P {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
OL {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
UL {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
LI {
	FONT-FAMILY: bitstream vera sans,verdana,sans-serif
}
BODY {
	FONT-SIZE: 8pt
}
SMALL {
	FONT-SIZE: 8pt
}
TD {
	FONT-SIZE: 10pt
}
TH {
	FONT-SIZE: 10pt
}
TEXTAREA {
	FONT-SIZE: 9pt; FONT-FAMILY: monospace
}
PRE {
	FONT-SIZE: 9pt; FONT-FAMILY: monospace
}
